/* Universial */
.BodyText {
  color: #4B515D;
  font-family: 'Roboto', sans-serif;
}



/* navbar */
#navbarRight{
  margin-left: 75%;
}

.navbar{
  box-shadow: none;
  height: 120px;
}

#name1 {
  font-size: 104;
  font-weight: 700;
  text-transform: uppercase;
  /* color: #3E4551; */
  padding-left:5%;
  font-family: 'Raleway', sans-serif;
}

.test{
  display: inline-block;
}

.activeLink {
  color: #4285F4; 
  font-weight: 400;
}

.nonActive{
  color: #4B515D;
  font-weight: 400;
}

.nonActive:hover{
  color: #4285F4;
  border-bottom: #4285F4;
  text-decoration: underline;
}

/* main */

.social-ion{
  color:#4B515D;
  margin-left: 30px;
}

/* hover icons */
.parent:hover > a {
  opacity: 0.5;
}

.parent:hover > a:hover {
  opacity: 1.0;
  /* color: #4B515D; */
}

.mainBtn:hover{
  color: white;
}



/* Port */

/* .projectParent:hover > div {
  opacity: 0.5;
  background-color: #00a8e8;
}

.projectParent:hover > div:hover {
  opacity: 1;
} */


.projectbox{
  width: 320px;
  height: 360px;
  /* border-radius: 1%; */
  border-radius: 7.5px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 8px rgb(0, 0, 0, .2);
}

thumbnail-overlay{
  opacity: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, .6);
  width: 320px;
  height: 360px;
  border-radius: 7.5px;
  padding: 40px;
  transition: all ease 200ms;
  display: none;
}

.thumbnail-overlay:hover{
opacity: 0.9;
border-radius: 7.5px;
position: absolute;
background-color: #00a8e8;
}

.thumbnail-overlay p {
  text-align: center;
  font-size: 0.8em;
}

.portbtn
{
  color: #fff;
  display: inline-block;
  background-color: black;
  border-radius: 3.75px;
}

.external {
  overflow: hidden;
  position: relative;
  /* visibility: hidden; */
  /* display: none; */
}


/* about me */
.about-me {
  text-align: justify;
  /* font-size: 15px; */

}

.AboutHead {
  color: #4B515D;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

#me {
  border-radius: 2%;
  box-shadow: 0 0 10px rgb(0, 0, 0, .5);

}